/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../img/backgrounds/639249.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
}

.kuswantoro{
    padding-top: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.kuswantoro h1{
  font-size:3vw;
  font-weight: bold;
  line-height: 2.5vw;
}

.kuswantoro h2{
  font-size:2vw;
  font-weight: bold;
  line-height: 1.5vw;
}


.kuswantoro:hover
{
    color: #fff;
    text-shadow:
    -1px -1px 0 #00f,
    1px -1px 0 #00f,
    -1px 1px 0 #00f,
    1px 1px 0 #00f;  
}

.card{
height: 320px;
margin-top: 5vw;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.8) !important;
}

.icon-pemprovDKI {
  background-image: url("../../icon/logo_dki.ico");
  background-position: center center;
  height: 50px;
  line-height: 24px;
  width: 50px;
}

.icon-damkar {
  background-image: url("../../icon/damkar.ico");
  background-size: 50px;
  background-position: center center;
  height: 50px;
  line-height: 24px;
  width: 50px;
}

.icon-inspektur {
  background-image: url("../../icon/inspektur.ico");
  background-size: 50px;
  background-position: center center;
  height: 50px;
  line-height: 24px;
  width: 50px;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}